.clanOneCard{
  text-align: center;
  border-radius: 20px;
  background-color: #cacaca9e;
  margin-top: 0vh;
  margin-bottom: 2vh;
  margin-left: 3vw;
  color: aliceblue;
  padding: 0px 4vw 20px 4vw;
  grid-column-start: 1;
}

.clanComparison{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100vw;
}

.clanTwoCard{
  margin-top: 0vh;
  grid-column-start: 3;
  text-align: center;
  border-radius: 20px;
  background-color: #cacaca9e;
  margin-bottom: 2vh;
  margin-right: 3vw;
  color: aliceblue;
  padding: 0px 4vw 20px 4vw;
}

.clanOneTitle{ 
  color:blue
}

.clanTwoTitle{
  color: orange
}

.green{
  color: green
}

.red{
  color: #bb2121
}

.motto{
  color:blueviolet
}