background {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.context{
  color: #E56306E3;
  text-align: center;
  margin-top: 20vh;
  font-family: monospace;
  font-size: 50px;
  letter-spacing: .15em;
}

#title {
    color: #E56306E3;
    font-weight: 600;
    font-family: monospace; /* Web-safe typewriter-like font */
    font-size: 35px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 20vh auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.0s steps(20, end),
      blinking-cursor .8s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blinking-cursor {
    from, to { border-color: transparent }
    50% { border-color: orangered; }
  }

