background {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* canvas {
    width: 60;
} */

.typewriter {
    text-align: center;
    overflow: hidden;
    border-right: .15em solid black;
    color: white;
    font-family: Courier New;
    top: 30%;
    font-size: 40px;
    white-space: nowrap;
    letter-spacing: .30em;
    /* animation: typing 3.5s steps(30, end), blink-caret .75s step-end infinite; */
}

@keyframes typing {
    from { width:20% }
    to { width: 80% }
  }


  #title{
      color: #E56306E3;
      margin: 40vh;
      /* font-family: 'Krona One'; */
      font-size: xxx-large;
  }