#mainContext{
  text-align: center;
  color: #E56306;
  font-size: 20px;
  margin-top: 5vh;
  font-weight: bold;
  letter-spacing: .10em;
  
}

.context{
  color: #E56306E3;
  text-align: center;
  margin-top: 10vh;
  font-family: monospace;
  font-size: 50px;
  letter-spacing: .15em;
}

#title {
    color: #E56306E3;
    font-weight: 900;
    font-family: monospace; /* Web-safe typewriter-like font */
    font-size: 35px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin-top: 5vh; /* Gives that scrolling effect as the typing happens */
    margin-bottom: 0vh;
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 0.8s steps(20, end),
      blinking-cursor .8s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blinking-cursor {
    from, to { border-color: transparent }
    50% { border-color: orangered; }
  }

