.clanList{
  list-style-type: none;
  text-align: center;
  margin-top: 20vh;
}

.playerList{
  list-style-type: none;
  text-align: center;
  margin-top: 20vh;
}

.playerDiv{
  border: solid 1px #ff45007d;
  margin-bottom: 3vh;
  padding: 3px 15px;
  border-radius: 10%;
}

.playerName{
  color: #fff;
  background-color: #3E3B38DB;
  border-radius: 10%;
  border-color: #ff45007d;
  border-width: 1px;
  padding: 10px 10px;
  width: 9vw;
}

.removeButton{
  color: #fff;
  background-color: #3E3B38DB;
  border-radius: 10%;
  border-color: #ff45007d;
  border-width: 1px;
  padding: 1px 1px;
  width: 9vw;
  margin-left: 2vw;
  margin-bottom: 1vh;
}

.playerName:hover{
  color: aliceblue;
  background-color: #E56306E3;
}

.clanName:hover{
  color: aliceblue;
  background-color: #E56306E3;
}

.removeButton:hover{
  color: aliceblue;
  background-color: red;
}

.clanName{
  color: #fff;
  background-color: #3E3B38DB;
  border-radius: 10%;
  border-color: #ff45007d;
  border-width: 1px;
  padding: 10px 10px;
  width: 9vw;
  margin-left: 2vw;
  margin-bottom: 1vh;
}

.clanName{
  color: #fff;
  background-color: #3E3B38DB;
  border-radius: 10%;
  border-color: #ff45007d;
  border-width: 1px;
  padding: 10px 10px;
  width: 9vw;
  margin-left: 2vw;
  margin-bottom: 1vh;
}



/* .removeButton{} */