.listContextMaster{
  color: #E56306E3;
  text-align: center;
  font-family: monospace;
  margin-top: 10vh;
  font-size: 18px;
  font-weight: bold;
}

.listContext{
  color: #E56306E3;
  text-align: center;
  font-family: monospace;
  font-size: 18px;
  font-weight: bold;
}

.clanList{
  list-style-type: none;
  text-align: center;
  margin-top: 10vh;
}

.playerList{
  list-style-type: none;
  text-align: center;
  margin-top: 10vh;
}

.emptyList{
  color: #E56306E3;
}

.selectFromListContext{
  color: #E56206;
  text-align: center;
  font-family: monospace;
  margin-bottom: 10vh;
  font-size: 20px;
  letter-spacing: .15em;
  font-weight: bold;
}

/* .itemContainer{
  display: flex;
  border: solid 1px #ff45007d;
  margin-bottom: 3vh;
  padding: 0px 15px;
  border-radius: 10%;
} */

.removeButton{
  margin: 7px 0px;
  color: #fff;
  background-color: #B3ACA5;
  border-radius: 10%;
  border-color: #ff45007d;
  border-width: 1px;
  padding: 1px 1px;
  width: 22vw;
  height: 7vh;
  margin-left: 2vw;
  font-size: medium ;
  transition: 0.2s;
}

.playerName{
  margin: 7px 0px ;
  color: #fff;
  background-color: #B3ACA5;
  transition: 0.2s;
  border-radius: 10%;
  border-color: #ff45007d;
  border-width: 1px;
  width: 22vw;
  height: 7vh;
  font-size: large;
}

.playerNameComparison{
  margin: 7px 0px ;
  color: #fff;
  background-color: #B3ACA5;
  border-radius: 10%;
  border-color: #ff45007d;
  border-width: 1px;
  width: 40vw;
  height: 10vh;
  font-size: large;
}

.clanName{
  margin: 7px 0px ;
  color: #fff;
  background-color: #B3ACA5;
  border-radius: 10%;
  border-color: #ff45007d;
  border-width: 1px;
  width: 22vw;
  height: 7vh;
  font-size: large;
}

.clanNameComparison{
  margin: 7px 0px ;
  color: #fff;
  background-color: #B3ACA5;
  border-radius: 10%;
  border-color: #ff45007d;
  border-width: 1px;
  width: 40vw;
  height: 10vh;
  font-size: large;
}

.playerName:hover{
  color: #E56306E3;
  background-color: aliceblue;
}

.playerNameComparison:hover{
  color: #E56306E3;
  background-color: aliceblue;
}

.clanName:hover{
  color: #E56306E3;
  background-color: aliceblue;
}

.clanNameComparison:hover{
  color: #E56306E3;
  background-color: aliceblue;  
}

.removeButton:hover{
  color: red;
  background-color: aliceblue;
}

