.navigate {
  display: grid;
  white-space: nowrap;
  background: #00000059;
  float: left;
  position: fixed;
  top: 0;
  border-bottom: solid 1px #534f4f;  
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100vw;
  align-items: center;
}

a{
  /* color: #377ca7; */
  color:white;
  /* display: block; */
  padding: 0rem 2rem;
  text-decoration: none;
  /* width: 15vw; */
}

a:hover{
  /* color: white; */
  color: #E56206;
  /* background-color: #58648E; */
}

.appName{
  color: white;
  width: 100vw;
  font-size: x-large;
}
.appName:hover{
  color: #E56206;
}
.linkStyle{
  justify-self: center;
}




