.navigate {
  display: grid;
  white-space: nowrap;
  background: #00000059;
  /* background: #000; */
  float: left;
  position: fixed;
  top: 0;
  border-bottom: solid 1px #534f4f;  
}

ul {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100vw;
}

a{
  color: #377ca7;
  /* display: block; */
  padding: 0rem 2rem;
  text-decoration: none;
  /* width: 15vw; */
}

a:hover{
  color: white;
  background-color: #58648E;
}

.appName{
  color: white;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  /* align-self: center; */
  width: 100vw;
}
.linkStyle{
  justify-self: center;
}

/* .header {
  padding-top: 5px;
  position: fixed; 
  width: 100%;
  background: #263158;
  text-align: center;
  font-size: 26.5px;
  color: white;
  height: 10vh;
  z-index: 1;
} */




