#playerComparisonContextMaster{
  color: #ffffffe3;
  text-align: center;
  margin-top: 12vh;
  font-family: monospace;
  font-size: 15px;
  letter-spacing: .15em;
  font-weight: bold;
}

.playerComparisonContext{
  color: #ffffffe3;
  text-align: center;
  font-family: monospace;
  font-size: 15px;
  letter-spacing: .15em;
  font-weight: bold;
}

#all{
  margin: 10px 50px 0 50px;
}

.playerComparison{
  display:grid;
  grid-template-columns: auto auto auto ;
}

.player1{
  text-align: center;
  border-radius: 20px;
  background-color: #cacaca9e;
  margin-top: 5vh;
  margin-bottom: 2vh;
  color: aliceblue;
  padding: 0px 1vw 20px 1vw;
  grid-column-start: 1;
}

.player2{
  text-align: center;
  border-radius: 20px;
  background-color: #cacaca9e;
  margin-top: 5vh;
  margin-bottom: 2vh;
  color: aliceblue;
  padding: 0px 1vw 20px 1vw;
  grid-column-start: 3;
}

.green{
  color: green;
  letter-spacing: .15em;
  font-weight: bold;
}

.red{
  color: #bb2121;
  letter-spacing: .15em;
  font-weight: bold;
}

.graph-wrapper{
  text-align: -webkit-center;
}

.line{
  position: absolute;
  top: 0;
  bottom:0;
  width: 10px;
  background: rgba(218, 7, 7, 0.1);
  left: 10%;
  text-align: -webkit-center;
  z-index: 4;
}