.searchbar{
  margin-top: 15vh;
  text-align: center;
}

.comparePlayerSearchbar{ 
  margin-top: 15vh;
  text-align: center;
}

.compareClanSearchbar{
  margin-top: 15vh;
  text-align: center;
}

/* .userSearch {
  background-image: url(https://images8.alphacoders.com/468/thumb-1920-468190.jpg);
  background-color: #cccccc;
  background-size: cover;
  background-blend-mode: multiply;
  height: 100vh;
  width: 100vw;
} */
.userSearch {
  grid-column-start: 3;
  grid-row-start: 2;
}

/* .card {
  box-shadow: 0 114px 8px 0 rgba(209, 30, 30, 0.2);
  transition: 0.3s;
  width: 40%;
} */



