.searchbar{
  margin-top: 15vh;
  text-align: center;
}

.comparePlayerSearchbar{ 
  margin-top: 15vh;
  text-align: center;
}

.compareClanSearchbar{
  margin-top: 15vh;
  text-align: center;
}

.userSearch {
  background-image: url(https://images8.alphacoders.com/468/thumb-1920-468190.jpg);
  background-color: #cccccc;
  background-size: cover;
  background-blend-mode: multiply;
  height: 100vh;
  width: 100vw;
}



