#playerSearchContext {
    color: #E56206;
    text-align: center;
    margin-top: 15vh;
    font-family: monospace;
    font-size: 20px;
    letter-spacing: .10em;
    font-weight: bold;
}

#clanSearchContext {
    color: #E56206;
    text-align: center;
    margin-top: 15vh;
    font-family: monospace;
    font-size: 20px;
    letter-spacing: .10em;
    font-weight: bold;
}

.comparisonSearchContext {
    color: #E56206;
    text-align: center;
    margin-top: 15vh;
    font-family: monospace;
    font-size: 20px;
    letter-spacing: .15em;
    font-weight: bold;
}

.comparePlayerSearchbar {
    margin-top: 15vh;
    text-align: center;
}

.compareClanSearchbar {
    margin-top: 15vh;
    text-align: center;
}

.card {
    box-shadow: 5px 14px 8px 5 rgba(209, 30, 30, 0.2);
    transition: 0.3s;
}

.searchBar {
    margin-top: 20vh;
    text-align: center;
}

.input {
    border-color: #E56206;
    width: 100%;
    caret-color: #E56206;
    border-width: 0 0 3px;
    font-size: 22px;
    background: transparent;
    line-height: 2.0;
    color: #E56206;
}

::placeholder {
    color: rgb(229, 99, 6);
    opacity: 1;
}

.button {
    border-radius: 14%;
    height: 40px;
    width: 120px;
    color: #E56206;
    background-color: #3E3B3852;
    border-width: 1px;
    margin-top: 10px;
    font-size: x-large;
    border-color: #ff45007d;
}

.button:hover {
    transition: 0.3s;
    background-color: #E56206;
    color: white;
}