.playerStats {
  grid-column-start: 2;
}

.playerCard {
  border-radius: 20px;
  background-color: #cacaca9e;
  color: aliceblue;
  text-align: center;
  margin-top: 8vh;
  margin-bottom: 10vh;
  padding: 0px 4vw 20px 4vw;
  /* box-shadow: 8px 8px 0px 0 rgba(0,0,0,0.2); */
}

.clanStats {
  grid-column-start: 2;
}

.clanCard {
  text-align: center;
  border-radius: 20px;
  background-color: #cacaca9e;
  margin-top: 7vh;
  margin-bottom: 2vh;
  color: aliceblue;
  padding: 0px 4vw 20px 4vw;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
}

.addToList{
  color: #fff;
  background-color: #3E3B38DB;
  border-radius: 10%;
  border-color: #ff45007d;
  border-width: 1px;
  padding: 10px 10px;
  width: 9vw;
}

.compareFromList{
  color: #fff;
  background-color: #3E3B38DB;;
  border-radius: 10%;
  border-color: #ff45007d;
  border-width: 1px;
  margin: 0px 2vw;
  width: 9vw;
}

.CompareBySearch{
  color: #fff;
  background-color: #3E3B38DB;;
  border-radius: 10%;
  border-color: #ff45007d;
  border-width: 1px;
  padding: 10px 10px;
  width: 9vw;
}

.addToList:hover{
  color: aliceblue;
  background-color: #E56306E3;
}

.compareFromList:hover{
  color: aliceblue;
  background-color: #E56306E3;
}

.CompareBySearch:hover{
  color: aliceblue;
  background-color: #E56306E3;
}



