.playerStats {
  grid-column-start: 2;
}

.playerCard {
  border-radius: 20px;
  background-color: #508276b0;
  color: aliceblue;
  text-align: center;
  margin-top: 7vh;
  margin-bottom: 10vh;
  grid-column-start: 3;
  padding: 0px 4vw 20px 4vw;
}

.buttons{
  display:grid;
  grid-template-columns: auto auto auto;
}

.addToList{
  color: #fff;
  background-color: #3E3B38DB;;
  border-radius: 10%;
  border-color: #ff45007d;
  border-width: 1px;
  padding: 10px 10px;
  width: 9vw;
}

.compareFromList{
  color: #fff;
  background-color: #3E3B38DB;;
  border-radius: 10%;
  border-color: #ff45007d;
  border-width: 1px;
  padding: 10px 10px;
  margin: 0px 2vw;
  width: 9vw;
}

.CompareBySearch{
  color: #fff;
  background-color: #3E3B38DB;;
  border-radius: 10%;
  border-color: #ff45007d;
  border-width: 1px;
  padding: 10px 10px;
  width: 9vw;
}

.addToList:hover{
  color: aliceblue;
  background-color: #E56306E3;
}

.compareFromList:hover{
  color: aliceblue;
  background-color: #E56306E3;
}

.CompareBySearch:hover{
  color: aliceblue;
  background-color: #E56306E3;
}

.clanStats {
  text-align: center;
  margin-top: 15vh;
  margin-bottom: 10vh;
  color: aliceblue;
}

.clanCard {
  border-radius: 20px;
  background-color: #367e88b0;
}

/* .addtoclanlist{
  grid-column-start: 3;
} */