#background-video{
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed; /* optional depending on what you want to do in your app */
}

.container{
  display: grid;
  grid-template-columns: 15vw auto auto auto;
  grid-template-rows: 10vh 10vh auto auto;
}

/* #video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
} */

#video {
  position: fixed;
  /* overflow: hidden; */
  z-index: -100;
  width: 100%;
  filter: 
  blur(4px) 
  opacity(90%);
}

/* .card {
  grid-column-start: [here];
} */

/* .mainBackground{
  background-image: url(https://images2.alphacoders.com/711/711084.jpg);
  background-color: #cccccc;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  background-attachment: fixed;
} */





