#background-video{
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed; /* optional depending on what you want to do in your app */
}

.container{
  display: grid;
  grid-template-columns: [navbar] 15vw auto 20vw 20vw 20vw;
}

.mainBackground{
  background-image: url(https://images2.alphacoders.com/711/711084.jpg);
  background-color: #cccccc;
  background-size: cover;
  background-blend-mode: multiply;
  height: 100vh;
  width: 100vw;
}




