#background-video{
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed; 
}

.container{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 10vh 10vh auto auto;
}


#video {
  position: fixed;
  z-index: -100;
  width: 100%;
  filter: 
  blur(4px) 
  opacity(90%);
}







